@function change-background($map, $key) {
    @return map-get($map, $key);
}

@function change-color($map, $key) {
    @return map-get($map, $key);
}

$background-color: (
    'white' : rgb(255, 255, 255),
    'main' : #b972cc,
    'dk-main' : #8d4c9f,
    'grey' : rgb(203, 203, 203),
    'lg-grey' : rgb(248, 248, 248),
);

$text: (
    'clicked': rgb(255, 255, 255),
    'normal' : black,
);

$font-weight : normal;

.accordion {

    // loop dan percabangan untuk warna accordion
    @for $i from 1 through 12 {
        @if $i % 2==0 {
            .btn-#{$i}.collapsed {
                background-color: #{change-background($background-color, 'lg-grey')};

                &:active {
                    background-color: #{change-background($background-color, 'main')};
                    color: #{change-color($text, 'clicked')};
                }
            }
        }

        @else {
            .btn-#{$i}.collapsed {
                background-color: #{change-background($background-color, 'white')};

                &:active {
                    background-color: #{change-background($background-color, 'main')};
                    color: #{change-color($text, 'clicked')};
                }
            }
        }
    }

    $font-weight : bold !global;
    --bs-accordion-active-color: #{change-color($text, 'clicked')};
    --bs-accordion-active-bg: #{change-background($background-color, 'main')};

    .accordion-item {
        --bs-accordion-border-color: #{change-color($background-color, 'grey')};
    }

    .accordion-header {

        button.accordion-button {
            font-weight: $font-weight;

            &:active {
                --bs-accordion-border-color: #{change-background($background-color, 'grey')};
            }

            &:focus {
                box-shadow: 0 0 5px #{change-background($background-color, 'dk-main')};
            }
        }
    }
}