$color_1: white;
$color_2: red;
$color_4: #555;
$color_5: #bf67a6;
$color_6: #6c1874;
$color_7: #b6b6b6;
$color_8: #000;
$color_9: #a725b3;
$color_10: #e3ca66;
$color_11: #333;
$color_12: rgb(56, 56, 243);
$color_13: rgb(6, 63, 184);
$background-color_1: #ffffff;
$background-color_2: rgb(224, 223, 223);
$background-color_3: rgba(39, 34, 34, 0.18);
$background-color_4: #25d366;
$background-color_5: rgba(255, 255, 255, 0.8);
$body-background-color: #fff;
$container-background-color: #3f51b5;
$nav-background-color: #fff;
$nav-icon-color: #7986cb;
$nav-link-text-color: #841a92;
