$background-color : rgba(0, 0, 0, 0.2);
$text-color : white;

.footer2 {
    background-color: $background-color;
}

ul.footer {
    font-size: 20px;
    font-weight: bold;
    li {
        a {
        font-weight: normal;
        color: $text-color;
    }
        span a{
            text-decoration: none;
        }
    }

    li.nav-item:hover {
        background-color: transparent;
      }
      
    li.nav-item:active {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .copyright {
        font-weight: bold;
    }
}


